<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convertisseur PDF vers Word</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/script.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="icon">📄➡️📝</div>

      <h1>PDF vers Word</h1>
      <p>Convertissez vos fichiers PDF en documents Word en un clic</p>

      <form id="form" enctype="multipart/form-data">
        <label class="upload-box" for="pdfFile">
          <div class="upload-icon">📁</div>
          <h3>Sélectionner un PDF</h3>
          <p id="fileName">Cliquez ici ou glissez votre fichier</p>

          <input
            id="pdfFile"
            type="file"
            name="file"
            accept="application/pdf"
            required
          />
        </label>

        <button type="submit">Convertir maintenant</button>
      </form>

      <div class="loader hidden" id="loader">
        <div class="spinner"></div>
        <p>Conversion du fichier en pdf...</p>
      </div>

      <div class="footer">Conversion rapide et sécurisée</div>
    </div>
  </body>
</html>
